# Simple Classifier
In der vorherigen Teilaufgabe haben Sie einiges über die Struktur der Daten gelernt. Nun sollen Sie dieses Wissen einsetzen um eine erste Vorhersage auf einem Testdatensatz zu treffen. Im folgenden werden die notwendigen Imports getätigt und das Dataset eingelesen.

### Imports

In [312]:
import numpy as np
import csv as csv
import matplotlib.pyplot as plt
import pandas as pd
import itertools
%matplotlib inline

### Daten einlesen

In [313]:
DATA_FILE = '../Data/original_titanic.csv'
# TODO : implement
df = None
df = pd.read_csv(DATA_FILE, header=0)

### Datenlücken interpolieren

Gerne können Sie zum Füllen der Datenlücken auch Ihre Implementierung aus der vorherigen Teilaufgabe einsetzen.

In [314]:
def prepareData(df):
    #to set a selection of a data frame please dont use the chained [] operator, but the .loc operator
    #(see http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy for details)
    
    #minimal working example to set all null age values to 42 - probably you can do better :-)
    df.loc[df.Age.isnull(),'Age'] = None
    df.loc[df.Pclass.isnull(),'Pclass'] = None
    df.loc[df.Sex.isnull(),"Sex"] = None
    return df
    
#df = prepareData(df)
print(len(df))
df2 = df.copy()
df2 = prepareData(df2)
df2.dropna(subset = ["Pclass"], inplace=True)
df2.dropna(subset = ["Age"], inplace=True)
df2.dropna(subset = ["Sex"], inplace=True)
print(len(df2))

1309
1309
1046

### Datensatz stochastisch verändern

Es wird der komplette Datensatz durchmischt. Finden Sie hierfür geeignete Methoden (Python, Numpy, Pandas). Geben Sie die ersten fünf Zeilen des durchmischten Datensatzes aus. Weisen Sie nach, dass lediglich die Reihenfolge der Daten geändert wurde und <b>nicht(!)</b> die Merkmals-Spalten.

### Lösung mit Sklearn

In [315]:
from sklearn.utils import shuffle

print(df[:5])
df_shuffled = shuffle(df)
print(df_shuffled[:5])

   PassengerId  Survived  Pclass  \
0            1         1       1
1            2         1       1
2            3         0       1
3            4         0       1
4            5         0       1

                                              Name     Sex    Age  SibSp  \
0                    Allen, Miss. Elisabeth Walton  female  29.00      0
1                   Allison, Master. Hudson Trevor    male   0.92      1
2                     Allison, Miss. Helen Loraine  female   2.00      1
3             Allison, Mr. Hudson Joshua Creighton    male  30.00      1
4  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1

   Parch  Ticket      Fare    Cabin Embarked                        Home-Dest
0      0   24160  211.3375       B5        S                     St Louis, MO
1      2  113781  151.5500  C22 C26        S  Montreal, PQ / Chesterville, ON
2      2  113781  151.5500  C22 C26        S  Montreal, PQ / Chesterville, ON
3      2  113781  151.5500  C22 C26        S  Montreal, PQ / Chesterville, ON
4      2  113781  151.5500  C22 C26        S  Montreal, PQ / Chesterville, ON
      PassengerId  Survived  Pclass                              Name     Sex  \
334           335         0       2     Banfield, Mr. Frederick James    male
1291         1292         0       3  Willer, Mr. Aaron ("Abi Weller")    male
1148         1149         0       3              Rintamaki, Mr. Matti    male
1151         1152         0       3        Risien, Mrs. Samuel (Emma)  female
618           619         0       3          Allen, Mr. William Henry    male

       Age  SibSp  Parch             Ticket     Fare Cabin Embarked  \
334   28.0      0      0   C.A./SOTON 34068  10.5000   NaN        S
1291   NaN      0      0               3410   8.7125   NaN        S
1148  35.0      0      0  STON/O 2. 3101273   7.1250   NaN        S
1151   NaN      0      0             364498  14.5000   NaN        S
618   35.0      0      0             373450   8.0500   NaN        S

                                              Home-Dest
334                     Plymouth, Dorset / Houghton, MI
1291                                                NaN
1148                                                NaN
1151                                                NaN
618   Lower Clapton, Middlesex or Erdington, Birmingham

### Umsetzung mit Pandas

In [316]:
print(df[:5])
df_shuffled2 = df.sample(frac=1).reset_index(drop=True)
print(df_shuffled2[:5])

   PassengerId  Survived  Pclass  \
0            1         1       1
1            2         1       1
2            3         0       1
3            4         0       1
4            5         0       1

                                              Name     Sex    Age  SibSp  \
0                    Allen, Miss. Elisabeth Walton  female  29.00      0
1                   Allison, Master. Hudson Trevor    male   0.92      1
2                     Allison, Miss. Helen Loraine  female   2.00      1
3             Allison, Mr. Hudson Joshua Creighton    male  30.00      1
4  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1

   Parch  Ticket      Fare    Cabin Embarked                        Home-Dest
0      0   24160  211.3375       B5        S                     St Louis, MO
1      2  113781  151.5500  C22 C26        S  Montreal, PQ / Chesterville, ON
2      2  113781  151.5500  C22 C26        S  Montreal, PQ / Chesterville, ON
3      2  113781  151.5500  C22 C26        S  Montreal, PQ / Chesterville, ON
4      2  113781  151.5500  C22 C26        S  Montreal, PQ / Chesterville, ON
   PassengerId  Survived  Pclass  \
0          831         0       3
1          168         1       1
2          923         1       3
3          326         0       2
4          183         1       1

                                              Name     Sex   Age  SibSp  \
0                      Goodwin, Mr. Charles Edward    male  14.0      5
1  Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)  female  35.0      1
2         Kelly, Miss. Anna Katherine "Annie Kate"  female   NaN      0
3                   Aldworth, Mr. Charles Augustus    male  30.0      0
4                              LeRoy, Miss. Bertha  female  30.0      0

   Parch    Ticket     Fare Cabin Embarked  \
0      2   CA 2144   46.900   NaN        S
1      0     19943   90.000   C93        S
2      0      9234    7.750   NaN        Q
3      0    248744   13.000   NaN        S
4      0  PC 17761  106.425   NaN        C

                              Home-Dest
0  Wiltshire, England Niagara Falls, NY
1           New York, NY /  Stamford CT
2                                   NaN
3                    Bryn Mawr, PA, USA
4                                   NaN

### Aufteilung in Trainings- und Testdatensatz

Teilen Sie den stochastisch veränderten Datensatz in Trainings- und Testdatensatz mit der Verteilung von 80% (Train) zu 20% (Test) auf. Geben Sie die Länge der Datensätze aus.

In [317]:
from sklearn.model_selection import train_test_split

df_train, df_test  = train_test_split(df_shuffled)
print(len(df_train))
print(len(df_test))

981
328

### Performance von Machine Learing Algorithmen

Die Performance von Machine Learing Algorithmen kann unter anderem anhand der Korreklassifizierungsrate (engl. Accuracy) ermittelt werden. Diese wird über die Verwechslungsmatrix (engl. Confusion matrix) (siehe Abbildung) wie folgt definiert: <br>

TP = True Positive <br>
TN = True Negative <br>
FP = False Positive <br>
FN = False Negative <br>
ACC = Accuracy <br>

$ACC = \frac{(TP + TN)} {(TP+TN+FP+FN)}$

<img src="../Figures/Confusion-Matrix.png" alt="drawing" style="width:300px;"/>

### Implementierung des Algorithmus

Schreiben Sie eine Funktion um die Klasse *Survived*, mit ihren beiden Ausprägungen 0 und 1, anhand von einem oder mehreren Merkmalen vorherzusagen. Verwenden Sie dazu ein einfaches Modell in welchem Sie ihr bisheriges Wissen über den Datensatz einsetzen.

In [318]:
def predict(df):
    """
    Predicts out of a Single Sample if Alive
    :return True if Alive
    :return False if Dead
    """
    if df["Pclass"] == 3:
        if df["Sex"] == "female":
            if df["Age"] < 20:
                return True
            else:
                return False
        else:
                return False
    else:
        return False

### Testen des Algorithmus

In [319]:
persons = df2.sample(n= 3, random_state=1)
for index, row in persons.iterrows():
    print("Will", row["Name"], "Survived?", predict(row) )

Will Bowerman, Miss. Elsie Edith Survived? False
Will Myhrman, Mr. Pehr Fabian Oliver Malkolm Survived? False
Will Baclini, Miss. Marie Catherine Survived? True

Testen Sie die predict() Methode mit den Datenobjekten aus dem Testdatensatz. Ermitteln sie hierzu die Korreklassifizierungsrate.

### sklearn

In [320]:
from sklearn.metrics import accuracy_score
y_pred = []
y_true = []
n = 10  ### how many samples

samples = df2.sample(n=n, random_state=1)

for index, row in df.iterrows():
    if predict(row):
         y_pred.append(1)
    else:
        y_pred.append(0)
    if row["Survived"]:
        y_true.append(1)
    else:
        y_true.append(0)
print("accuracy_score",accuracy_score(y_true, y_pred))

accuracy_score 0.6218487394957983